.header{
    background-color: black;
}
ul{
    float:right;
    list-style-type: none;
    margin-top: 30px;
    min-height:400px;
    margin-right: 60px;
    font-size: 17px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: aqua;
    padding: 4px 16px;
    border: 1px solid transparent;
    transition: 0,5 ease;
}
ul li a:hover{
    background-color: aquamarine;
    color: antiquewhite;
}